/*HEADER*/
.my-navbar-second-block{
    position: relative;
    left: 150px;
}
.my-navbar{
    background-color: white;
    border: 1px solid white;
    border-radius: 0;
    padding: 20px 0;
}
.my-navbar-button{   
    border: 1px solid blue;
}
.my-navbar-img{
    max-width: 180px;
    padding-top: 5px;
}
.my-navbar .navbar-toggle .icon-bar{
    background-color: blue;
}
/*MAIN*/
section{
    background-image: url(img/bg-banner-home.jpg);
    background-size: cover;
    padding: 20px 0;
}
.my-box-first-section{
    background-color: white;
}
.my-box-first-section h4{
    text-align: center;
}
.my-box-first-section button:first-of-type{
    width: 100%;
    background-color: rgb(87, 154, 255);
    border: 1px solid transparent;
    border-radius: 5px;  
    margin-bottom: 5px;  
}
.my-box-first-section button:last-of-type{
    width: 100%;
    background-color: white;
    border: 1px solid transparent;
    border-radius: 5px; 
    margin-bottom: 5px;
}
.my-google{
    float: left;
    position: relative;
    top: 2px;
    max-width: 15px;
}
.my-box-first-section p{
    text-align: center;
    font-size: 10px;    
}
/*CLASSI RANDOM*/
.color-white{
    color: white;
}
.color-black{
    color: black;   
}
.color-blue{
    color: blue;
}