/*HEADER*/
@media all and (max-width: 991px){
    header ul{
        display: none;
    }
    header .first-button-type{
        display: block;
    }
}
.my-navbar .first-button-type{
    border: 0;
}
.my-navbar{
    border: 1px solid white;
    border-radius: 0;
    margin-bottom: 0;
}
.my-navbar .navbar-toggle .icon-bar{
    background-color: blue;
    border: blue;
}
.my-navbar-button{
    border-color: blue;
}
header ul li:hover{
    background-color: lightblue;    
}
/*MAIN*/
.first-section{
    background-image: url(img/bg-banner-home.jpg);
    background-size: cover;
}
.my-box-first-section h4{
    text-align: center;
}
.my-box-first-section button:first-of-type{
    width: 100%;
    background-color: rgb(87, 154, 255);
    border: 1px solid transparent;
    margin-bottom: 5px;  
}
.my-box-first-section button:last-of-type{
    width: 100%;
    background-color: white;
    border: 1px solid transparent;
    margin-bottom: 5px;
}
.my-google{
    float: left;
    position: relative;
    top: 2px;
    max-width: 15px;
}
.my-box-first-section p{
    text-align: center;
    font-size: 10px;    
}
.seventh-section,
.fourth-section,
.second-section{
    background-color:rgb(243, 245, 249) ;
}
.second-section img{
    max-width: 100%;
    height: 100px;
}
.my-list{
    max-width: 100px;
    border-left: 1px solid rgb(204, 204, 204);    
}
.my-heigt{
    min-height: 180px;
}
.third-section p:first-of-type{
    padding-bottom: 15px;
}
.my-arrow{
   height: 250px;
}    
.my-arrow i{
    padding-top: 125px;
}
.my-box{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid blue;
    display: inline-block;
}
.seventh-section .my-box:first-child,
.fourth-section .my-box:first-child{
    background-color: blue;
}
.my-first-arrow{
    float: right;
    color: rgb(111, 123, 151);
}
.seventh-section h2{
    padding-bottom: 60px;
}
.seventh-section img{
    width: 200px;
    padding: 10px;
}
.eighth-section button{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    border: 1px solid transparent;
    padding: 5px;
}
/*FOOTER*/
footer img{
    padding-bottom: 20px;
}
footer p,
footer a{
    font-size: 10px;
}
footer ul{
    margin-left: -20px;
}
/*SHARK*/
.my-second-box{
    width: 50px;
    height: 50px;
    position:fixed;
    bottom:50px;
    right:50px;
    z-index:0;
    background-image: url(img/shark.png);
    background-size: 50px;
    background-repeat: no-repeat;
    background-position: center;
}
.box-text{
    width: 250px;
    background-color: white;
    position: fixed;
    bottom:50px;
    right:120px;
    z-index:0;
    padding: 10px;
    border-radius: 5px;
    display: none;
}
.my-second-box:hover .box-text{
    display: block;
}
.triangle{
    position: relative;
    left: 75px;
    font-size: 20px;
    color: white;
    display: inline-block;
}
.bedge{
    width: 25px;
    height: 25px;
    background-color: red;
    position: relative;
    bottom: 12px;
    left: 30px;
    border-radius: 50%;
    border: 2px solid white;
}
/*CLASSI RANDOM*/
.color-white{
    color: white;
}
.color-black{
    color: black;   
}
.color-blue{
    color: blue;
}
.color-grey{
    color: rgb(82, 97, 129);
}
.color-grey-up{
    color: rgb(164, 172, 187);
}
.my-padding{
    padding: 20px 0;
}
.my-second-padding{
    padding: 5px 0;
}
.background-color-blue{
    background-color: blue;
}
.background-color-white{
    background-color: white;
}
.background-color-darkblue{
    background-color: rgb(3, 28, 78);
}
li{
    list-style-type: none;
}
.border-bottom{
    border-bottom: 1px solid white;
}
.color-whater{
    color: rgb(0, 150, 198);
}
.my-border-radius{
    border-radius: 5px;
}
