/*HEADER*/
.my-navbar-second-block{
    position: relative;
    left: 150px;
}
.my-navbar{
    background-color: white;
    border: 1px solid white;
    border-radius: 0;
    padding: 20px 0;
}
.my-navbar-button{
    color: blue;
    border: 1px solid blue;
}
.my-navbar-img{
    max-width: 180px;
    padding-top: 5px;
}
.my-navbar .navbar-toggle .icon-bar{
    background-color: blue;
}
/*MAIN*/
section{
    background-image: url(img/bg-banner-home.jpg);
    background-size: cover;
    padding: 20px 0;
}
.my-first-section h1,
.my-first-section p{
    color: white;
}
.my-box-first-section{
    background-color: white;
}
.my-box-first-section h4{
    text-align: center;
}
.my-box-first-section h4:last-child{
    color: blue;
}
