/*HEADER*/
.my-navbar-second-block{
    position: relative;
    left: 150px;
}
.my-navbar{
    background-color: white;
    border: 1px solid white;
    border-radius: 0;
}
.my-navbar-button{   
    border: 1px solid blue;
}
.my-navbar-img{
    max-width: 180px;
    padding-top: 5px;
}
.my-navbar .navbar-toggle .icon-bar{
    background-color: blue;
}
/*MAIN*/
.first-section{
    background-image: url(img/bg-banner-home.jpg);
    background-size: cover;
}
.my-box-first-section{
    background-color: white;
}
.my-box-first-section h4{
    text-align: center;
}
.my-box-first-section button:first-of-type{
    width: 100%;
    background-color: rgb(87, 154, 255);
    border: 1px solid transparent;
    border-radius: 5px;  
    margin-bottom: 5px;  
}
.my-box-first-section button:last-of-type{
    width: 100%;
    background-color: white;
    border: 1px solid transparent;
    border-radius: 5px; 
    margin-bottom: 5px;
}
.my-google{
    float: left;
    position: relative;
    top: 2px;
    max-width: 15px;
}
.my-box-first-section p{
    text-align: center;
    font-size: 10px;    
}
.seventh-section,
.fourth-section,
.second-section{
    background-color:rgb(243, 245, 249) ;
}
.second-section img{
    max-width: 100%;
    height: 100px;
}
.my-list{
    max-width: 100px;
    border-left: 1px solid rgb(204, 204, 204);    
}
.my-heigt{
    min-height: 180px;
}
.third-section p:first-of-type{
    padding-bottom: 15px;
}
.my-arrow{
    padding-top: 100px;
}
.my-box{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid blue;
    display: inline-block;
}
.seventh-section .my-box:first-child,
.fourth-section .my-box:first-child{
    background-color: blue;
}
.my-first-arrow{
    float: right;
    color: rgb(111, 123, 151);
}
.seventh-section h2{
    padding-bottom: 60px;
}
.seventh-section img{
    width: 200px;
    padding: 10px;
}
.eighth-section button{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 5px;
    border: 1px solid transparent;
    padding: 5px;
}
footer img{
    padding-bottom: 20px;
}
footer p,
footer a{
    font-size: 10px;
}
footer ul{
    margin-left: -20px;
}
/*CLASSI RANDOM*/
.color-white{
    color: white;
}
.color-black{
    color: black;   
}
.color-blue{
    color: blue;
}
.color-grey{
    color: grey;
}
.my-padding{
    padding: 20px 0;
}
.my-second-padding{
    padding: 5px 0;
}
.background-color-blue{
    background-color: blue;
}
.background-color-white{
    background-color: white;
}
.background-color-darkblue{
    background-color: rgb(3, 28, 78);
}
li{
    list-style-type: none;
}
.border-bottom{
    border-bottom: 1px solid white;
}