/*HEADER*/
.my-navbar-second-block{
    position: relative;
    left: 150px;
}
.my-navbar{
    background-color: white;
    border: 1px solid white;
    border-radius: 0;
    padding: 20px 0;
}
.my-navbar-button{
    color: blue;
    border: 1px solid blue;
}
.my-navbar-img{
    max-width: 180px;
    padding-top: 5px;
}
.my-navbar .navbar-toggle .icon-bar{
    background-color: blue;
}
/*MAIN*/
section{
    background-image: url(img/bg-banner-home.jpg);
    background-size: cover;
    padding: 20px 0;
}
.my-first-section h1,
.my-first-section p{
    color: white;
}
.my-box-first-section{
    background-color: white;
}
.my-box-first-section h4{
    text-align: center;
}
.my-box-first-section h4:last-of-type{
    color: blue;
}
.my-box-first-section button:first-of-type{
    width: 100%;
    background-color: rgb(87, 154, 255);
    border: 1px solid transparent;
    border-radius: 5px;  
    margin-bottom: 5px;  
}
.my-box-first-section button a:first-of-type{
    color: white;
}
.my-box-first-section button:last-of-type{
    width: 100%;
    background-color: white;
    border: 1px solid transparent;
    border-radius: 5px; 
    margin-bottom: 5px;
}
.my-box-first-section button a:last-of-type{
    color: black;
}
.my-google{
    float: left;
    position: relative;
    top: 2px;
}
.my-box-first-section p{
    color:black;
    text-align: center;
    font-size: 10px;
    
}